.header {
}

.logo {
  width: 140px;
  height: 100px;
  margin-left: 10px;
}
.navbar2 {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.navbar2 a {
  float: left;
  display: block !important;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  padding-bottom: 10px;
}
.navbar2 a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}
